@page "/"
@inject NavigationManager NavigationManager
<style>
    div.index-container {
        display: flex;
        flex-direction: column;
        margin: 15vw 0px 0px 0px;
        align-items: center;
    }

    .btn {
        min-width: 175px;
    }
</style>
<PageTitle>Index</PageTitle>
<div class="index-container">

    <AuthorizeView>
        <Authorized>
            <h3 class="text-center" style="text-align: center;">
                Play "Who am I", NOW!
            </h3>
            <a class="btn btn-primary" @onclick="NavToGame">Game<i class="fa-solid fa-fw fa-arrow-right" style="color: whitesmoke;"></i></a>
            <a class="btn btn-primary" @onclick="NavToShop">Shop<i class="fa-solid fa-fw fa-arrow-right" style="color: whitesmoke;"></i></a>

        </Authorized>
        <NotAuthorized>
            <h3 class="text-center" style="text-align: center;">
                Login to Play "Who am I", NOW!
            </h3>
        </NotAuthorized>
    </AuthorizeView>
</div>

@code {
    private void NavToGame()
    {
        NavigationManager.NavigateTo("/championgame");
    }
    private void NavToShop()
    {
        NavigationManager.NavigateTo("/shop");
    }


}

