@page "/agb"

<!DOCTYPE html>
<html>
<head>
    <title>AGBs - Who am I?</title>
</head>
<body>
    <div class="agb">
        <h1>Allgemeine Geschäftsbedingungen (AGB) für den Webshop "Who am I?"</h1>

        <h2>1. Geltungsbereich</h2>
        <p>Die nachfolgenden Allgemeinen Geschäftsbedingungen (AGB) gelten für alle Bestellungen und Lieferungen, die über den Online-Shop "Who Am I?" getätigt werden.</p>

        <h2>2. Vertragspartner</h2>
        <p>Der Kaufvertrag kommt zustande mit "Who am I?", vertreten durch Joel Muntwyler, Turmstrasse Wohlen, 079 656 25 36, joel@gmx.ch.</p>

        <h2>3. Angebot und Vertragsschluss</h2>
        <p>3.1 Die Darstellung der Produkte im Online-Shop stellt kein rechtlich bindendes Angebot, sondern eine unverbindliche Aufforderung zur Bestellung dar.</p>
        <p>3.2 Durch Anklicken des Buttons "Kaufen" geben Sie eine verbindliche Bestellung der im Warenkorb enthaltenen Waren ab.</p>

        <h2>4. Preise und Versandkosten</h2>
        <p>4.1 Die angegebenen Preise sind Endpreise in Euro und enthalten die gesetzliche Mehrwertsteuer.</p>
        <p>4.2 Zusätzlich zu den angegebenen Preisen können Versandkosten anfallen. Die Versandkosten werden Ihnen auf der Produktseite, im Warenkorb und auf der Bestellseite deutlich mitgeteilt.</p>

        <h2>5. Zahlung</h2>
        <p>Die Zahlung erfolgt wahlweise per Coins.</p>

        <h2>6. Gewährleistung</h2>
        <p>Es gelten die gesetzlichen Gewährleistungsbestimmungen.</p>

        <h2>7. Datenschutz</h2>
        <p>Ihre Daten werden im Rahmen der gesetzlichen Vorschriften geschützt. Genauere Informationen entnehmen Sie bitte unserer Datenschutzerklärung.</p>

        <h2>8. Schlussbestimmungen</h2>
        <p>Es gilt das Recht der Schweiz unter Ausschluss des Kaufrechts. Gerichtsstand für alle Streitigkeiten aus diesem Vertrag ist Janosch Lio.</p>

        <p>Diese AGB können von Zeit zu Zeit aktualisiert werden. Die jeweils gültige Fassung ist auf der Page "AGB" abrufbar.</p>

        <p>"Who am I?" Turmstrasse Wohlen 079 656 25 36 whoami@gmx.cg Stand: 01.01.2023</p>
    </div>
</body>
</html>

<style>
    .agb {
        font-size: 17px;
        color: whitesmoke;
        font-family: 'Poppins', sans-serif;
        margin: 100px;
        background-color: #1d1d1d7d;
        padding:15px;
        border-radius:10px;
    }

    h2 {
        font-size: 32px;
    }

    body {
        overflow-y: scroll !important;
    }
</style>
