@inherits LayoutComponentBase

<PageTitle>M150EBusinessApplikation</PageTitle>

<div class="page">
    <div class="sidebar">
        <NavMenu />
    </div>

    <main>
        <article class="content px-4" style="padding: 0px !important; overflow: hidden; height: 100%;">
            @Body
        </article>
    </main>
</div>
