@using Microsoft.AspNetCore.Mvc
@using Microsoft.AspNetCore.Authentication.Cookies
@using Microsoft.AspNetCore.Mvc.RazorPages
@using Microsoft.AspNetCore.Authentication
@using M150EBusinessApplikation.Shared

<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="">M150EBusinessApp</a>
        <button title="Navigation menu" class="navbar-toggler" @onclick="ToggleNavMenu">
            <span class="navbar-toggler-icon"></span>
        </button>
    </div>
</div>

<div class="@NavMenuCssClass" @onclick="ToggleNavMenu">
    <nav class="flex-column">
        <AuthorizeView>

            <NotAuthorized>
                <div class="nav-item px-3">

                    <NavLink class="nav-link" href="Identity/Account/Login">
                        <span class="oi oi-account-login" aria-hidden="true"></span> Login
                    </NavLink>
                </div>
                <div class="nav-item px-3">

                    <NavLink class="nav-link" href="Identity/Account/Register">
                        <span class="oi oi-account-login" aria-hidden="true"></span> Register
                    </NavLink>
                </div>


            </NotAuthorized>

        </AuthorizeView>
        <AuthorizeView Roles="Admin, User">
            <div class="nav-item px-3">

                <NavLink class="nav-link" href="Identity/Account/Logout">
                    <span class="oi oi-account-logout" aria-hidden="true"></span> Logout
                </NavLink>

            </div>
            <div class="nav-item px-3">

                <NavLink class="nav-link" href="championgame">
                    <span class="oi oi-media-play" aria-hidden="true"></span> Guessing Game
                </NavLink>

            </div>
            <div class="nav-item px-3">

                <NavLink class="nav-link" href="leaderboard">
                    <span class="oi oi-bar-chart" aria-hidden="true"></span> Leaderboard
                </NavLink>

            </div>
            <div class="nav-item px-3">

                <NavLink class="nav-link" href="shop">
                    <span class="oi oi-cart" aria-hidden="true"></span> Champion Shop
                </NavLink>

            </div>
            <div class="nav-item px-3">

                <NavLink class="nav-link" href="shoppingcart">
                    <span class="oi oi-cart" aria-hidden="true"></span> Shopping Cart
                </NavLink>

            </div>

        </AuthorizeView>
        <AuthorizeView Roles="Admin">
            <div class="nav-item px-3">

                <NavLink class="nav-link" href="championgameadmin">
                    <span class="oi oi-media-play" aria-hidden="true"></span> Game (Admin)
                </NavLink>

            </div>

        </AuthorizeView>


    </nav>
</div>

@code {
    private bool collapseNavMenu = true;

    private string? NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }

}
