@page "/shopindex"
@using System.Security.Claims
@using BootstrapBlazor.Components;
@using M150EBusinessApplikation.Data;
@using Microsoft.AspNetCore.Components.Server.ProtectedBrowserStorage
@using Microsoft.EntityFrameworkCore

@inject ProtectedLocalStorage ProtectedLocalStorageStore
@inject IJSRuntime JsRuntime
@attribute [Authorize(Roles = "Admin, User")]
@inject ApplicationDbContext Db
@inject AuthenticationStateProvider GetAuthenticationStateAsync
@inject DialogService DialogService
<style>
    .coinText {
        align-self: start;
        text-align: right !important;
        min-width: 250px;
    }

    div.gameControl {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        margin: 20px 20px 0px 20px;
    }
</style>
@code {
    protected ClaimsPrincipal? User;
    protected UserProfil UserProfil = null!;
    protected Task<AuthenticationState> AuthState = null!;
    protected string? Name;


    public void LoadUser()
    {
        AuthState = GetAuthenticationStateAsync.GetAuthenticationStateAsync()!;
        User = AuthState.Result?.User;
        Name = User?.Identity?.Name;
    }

    private void InitializeUserProfil()
    {
        UserProfil = Db.UserProfiles.FirstOrDefault(u => u.Username == Name);

        if (UserProfil == null)
        {
            Db.UserProfiles.Add(new Data.UserProfil()
                {
                    Username = Name,
                    Coins = 0,
                    Tries = null

                });
            Db.SaveChanges();
        }
    }
    protected override async Task OnInitializedAsync()
    {
        LoadUser();
        InitializeUserProfil();
    }
}

<PageTitle>Shop</PageTitle>

<div class="gameControl">
    <div style="margin-left:10px;">
        <h3 class="text-center resultOutput">Shop</h3>
    </div>
    <div class="coinText">
        <h3 class="text-center resultOutput">Coins: @UserProfil.Coins</h3>
    </div>
</div>