@page "/feedbackadmin"

<h3>Feedbacks</h3>
<div>
@*     @foreach (var feedback in Feedbacks)
    {
        <ul>
            <li>@feedback.FeedbackText</li>
            <li>@feedback.Username</li>
        </ul>
    } *@
</div>
@code {
    
}
