@code {
    [Parameter]
    public int Rating { get; set; }

    [Parameter]
    public EventCallback<int> RatingChanged { get; set; }

    void SetRating(int value)
    {
        Rating = value;
        RatingChanged.InvokeAsync(Rating);
    }
}
<style>
    .star-rating {
        white-space: nowrap;
        margin-bottom:13px;
    }

        .star-rating [type="radio"] {
            appearance: none;
        }

        .star-rating i {
            font-size: 2.5em;
            transition: 0.3s;
        }


        .star-rating label:has(~ :checked) i {
            color: #faec1b;
            text-shadow: 0 0 2px #ffffff, 0 0 10px #ffee58;
        }

    label {
        cursor: pointer;
    }
</style>

<span class="star-rating">
    <label for="rate-1" style="--i:1"><i class="fa-solid fa-star"></i></label>
    <input type="radio" name="rating" id="rate-1" @onclick="(() => SetRating(1))">
    <label for="rate-2" style="--i:2"><i class="fa-solid fa-star"></i></label>
    <input type="radio" name="rating" id="rate-2" @onclick="(() => SetRating(2))">
    <label for="rate-3" style="--i:3"><i class="fa-solid fa-star"></i></label>
    <input type="radio" name="rating" id="rate-3" @onclick="(() => SetRating(3))">
    <label for="rate-4" style="--i:4"><i class="fa-solid fa-star"></i></label>
    <input type="radio" name="rating" id="rate-4" @onclick="(() => SetRating(4))">
    <label for="rate-5" style="--i:5"><i class="fa-solid fa-star"></i></label>
    <input type="radio" name="rating" id="rate-5" @onclick="(() => SetRating(5))">
</span>
<input type="hidden" id="rating" @bind="Rating" />
