@page
@using Microsoft.AspNetCore.Identity
@attribute [IgnoreAntiforgeryToken]
@inject SignInManager<IdentityUser> SignInManager
@functions {
    public async Task<IActionResult> OnPost()
    {
        if (SignInManager.IsSignedIn(User))
        {
            await SignInManager.SignOutAsync();
        }

        return Redirect("~/");
    }
}
@{
    var rootUrl = Url.Content("~/");
}

<h3 class="text-center loginContainer">Log out</h3>
<div class="flexContainer">
    <div class="innerLoginContainer">
        <div class="loginContainer">

            <form id="registerForm" asp-route-action="OnPost" method="post">
                <button type="button" onclick="window.location.href='@rootUrl'" class="ml-md-auto btn btn-primary">Back</button>

                <button id="logoutSubmit" type="submit" class="ml-md-auto btn btn-primary">Log out</button>
            </form>
        </div>
    </div>
</div>
